<ul>
  <li>Photographs</li>
  <ul>
    <li><a href="photograph/create">Create</a></li>
    <li><a href="photograph/show">See Current Records</a></li>
  </ul>
  <li>Photographers</li>
  <ul>
    <li><a href="photographer/create">Create</a></li>
    <li><a href="photographer/show">See Current Records</a></li>
  </ul>
  <li>Albums</li>
  <ul>
    <li><a href="album/create">Create</a></li>
    <li><a href="album/show">See Current Records</a></li>
  </ul>
</ul>